.ClearFiltersBtn {
  display: block;
  width: fit-content;
  display: flex;
  column-gap: 4px;
  text-decoration: none;
  font-weight: 500;
  align-items: center;

  &:hover {
    text-decoration: underline;
  }

  &__svg {
    background-image: url('../../svg/clean.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
  }
  
  &__text {
    color: #4f4f4f;
  }
}