@charset "UTF-8";
.Filter {
  color: var(--names-tablet);
}
.Filter__label {
  color: inherit;
  margin-right: 8px;
}
.Filter__items {
  color: inherit;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: 9px;
     -moz-column-gap: 9px;
          column-gap: 9px;
}
.Filter__item {
  color: inherit;
  text-decoration: underline;
  text-decoration-style: dashed;
}
.Filter__item:hover {
  color: #717171;
}
.Filter__item_active {
  color: var(--text-color);
}
.Filter__item_up::after {
  content: " (вверх)";
}
.Filter__item_down::after {
  content: " (вниз)";
}