.Users {
  background-color: var(--second-background);
  border-radius: 7px;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.Users__tableHeader {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 10px;
}
.Users__headerItem {
  width: 29%;
  margin-right: 1%;
  color: var(--names-tablet);
}
.Users__headerItem_email, .Users__headerItem_date {
  width: 27%;
}
.Users__headerItem_rating {
  width: 10%;
}
.Users__lastHeaderItem {
  width: auto;
}
.Users__hr {
  width: 100%;
  background-color: var(--background);
  height: 1px;
  border: 0;
}
.Users__pageInput {
  width: 25px;
}
.Users__pageNum {
  color: var(--font);
}
.Users__pageNum_title {
  margin-right: 5px;
}
.Users__pageNum_max {
  margin-left: 5px;
}
.Users__pageBtns {
  width: 100%;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Users__pageBtn {
  background-color: var(--background);
  padding: 15px;
  border-radius: 4px;
  background-image: url("../../svg/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}
.Users__pageBtn:hover {
  background-color: #ededed;
}
.Users__pageBtn_prev {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}