.User__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 14px;
  padding-bottom: 20px;
}
.User__data {
  color: var(--font);
  width: 29%;
  margin-right: 1%;
}
.User__data_email, .User__data_date {
  width: 27%;
}
.User__data_rating {
  width: 10%;
}
.User__name {
  color: var(--username);
  font-weight: 700;
}
.User__cross {
  background-image: url("../../svg/cross.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
  cursor: pointer;
}
.User__cross:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.User::after {
  content: attr(hr);
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--background);
}