.Input {
  padding: 9px;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  background-color: #ECEFF0;
  border-radius: 4px;
  color: var(--names-tablet);
  font-weight: 500;
}
.Input:hover {
  background-color: rgb(229, 232, 233);
}
.Input:focus {
  background-color: #ECEFF0;
}
.Input_imgLeft {
  background-position: left 5px center;
  padding-left: 31px;
}
.Input_imgRight {
  background-position: right 5px center;
  padding-right: 31px;
}